@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}

:root{
    --tran:0.3s;
}
/* Start Header */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(../images/pexels-david-jakab-1130683.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

 nav img{
    width: 150px;
}

 nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}

nav ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: var(--tran);
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
   font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}
 .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition:var(--tran);
   
}
 .hero-btn:hover{
    border-color: #f44336;
    background:#f44336 ;
    
}
.toggle-menu{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
     }
     nav ul li{
         display: block;
     }

     nav ul{
         display: none;
     }
     
     .toggle-menu{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        
        position: absolute;
        top:10%;
        right: 0;
        background-color: #d84a40;
        width: 100%;
        height: 32%;
        text-align: center;
        z-index: 4;
    }
   
}

/* End Header */

/* Heading Part */
h1{
    font-size: 36px;
    font-weight: 600;
  }
  
   p{
      color: #777;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
  }

/* Start Course */


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 
}

 

 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course .row .course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: var(--tran);
    border: 1px solid black;
}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
        gap: 10px;
    }
} 
/* End Course


/* Start Campus */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    
}


.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}

.campus-col .layer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  transition: var(--tran);
}
.campus-col .layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.campus-col .layer h3{
    text-transform: uppercase;
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: 0.3s;
    
}
.campus-col .layer:hover h3{
    opacity: 1;
    bottom: 50%;
}

/* End Campus */

/* Start Facilities */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0;
}


.facilities-col h3{
    margin: 16px 0 15px;
}

/* End Facilities */


/* Start testimonials */
.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;

}

.testimonial-col img{
    height:40px;
    margin: 0 30px 0 4px;
    border-radius: 50%;
}

.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin:15px 0;
}

.testimonial-col .fas,
.testimonial-col .far{
    color: #f44336;
}

@media(max-width:700px){
    .testimonial-col img{
        margin: 0 15px 0 0;
    }
}
/* End testimonials */

/* Star Call */
.cta{
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px){
   .cta h1{
       font-size: 24px;
   }
}
/* End Call */

/* Strat Footer */
 
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin: 20px 0 25px;
    font-weight: 600;
}
.footer .icons .fab{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 20px;
}

.footer .fa-heart{
    color: #f44336;
}

/* End Footer */


/*Start About Us Page */

.sub-header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
   padding: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    color: #f44336;
    border: 1px solid #f44336;
    background: transparent;
}

 .red-btn:hover{
    background-color: #f44336;
    color: #fff;
}

/*End About Us Page */

/* Strat Blog Content */
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    padding: 0;
    color: #999;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}


.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-form input ,
.comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
   
}

.comment-form button{
    margin: 10px 0;
}

@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}
/* End Blog Content */


/* Start Contact Page */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-us .contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-us .contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fas{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div h5{
   font-size: 20px;
   margin-bottom: 5px;
   color: #555;
   font-weight: 400;
}

.contact-col div p{
    padding: 0;
}


.contact-col input,
.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* End Contact Page */